@font-face {
  font-family: semibold;
  src: url(../assets/fonts/BaiJamjuree-SemiBold.ttf);
}
@font-face {
  font-family: regular;
  src: url(../assets/fonts/BaiJamjuree-Regular.ttf);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  word-wrap: break-word;
}

img {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(../assets/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: regular;
  font-size: 18px;
  text-align: center;
}

h1,
h2,
h3 {
  color: hsl(210, 10%, 33%);
  font-family: semibold;
}

p {
  color: hsl(201, 11%, 66%);
  font-size: 1rem;
}

.clipboard_container {
  display: grid;
  gap: 8rem;
}
.clipboard_container .clipboard_section {
  padding: 1rem;
}
.clipboard_container .btn_container {
  display: grid;
  gap: 3rem;
}
.clipboard_container .btn_container .btn_c .btn {
  text-decoration: none;
  padding: 0.8rem 4rem;
  border-radius: 2rem;
  color: #fff;
  box-shadow: inset 0rem -0.2rem 0rem rgba(0, 0, 0, 0.301);
}
.clipboard_container .btn_container .btn_c .btn_green {
  background: hsl(171, 66%, 44%);
}
.clipboard_container .btn_container .btn_c .btn_green:hover {
  box-shadow: 0rem 0.2rem 1rem hsl(171, 66%, 44%);
}
.clipboard_container .btn_container .btn_c .btn_blue {
  background: hsl(233, 100%, 69%);
}
.clipboard_container .btn_container .btn_c .btn_blue:hover {
  box-shadow: 0rem 0.2rem 1rem hsl(233, 100%, 69%);
}
.clipboard_container .main_heading {
  display: grid;
  gap: 2rem;
  margin-top: 8rem;
}
.clipboard_container .main_heading .sub_c_icon {
  display: grid;
  place-content: center;
  padding-bottom: 2rem;
}
.clipboard_container .main_heading .heading_text {
  display: grid;
  gap: 1.5rem;
}
.clipboard_container .snippet_section {
  display: grid;
  gap: 3.8rem;
}
.clipboard_container .snippet_section .snippet_heading {
  display: grid;
  gap: 1.5rem;
}
.clipboard_container .snippet_section .snippet_comment {
  display: grid;
  gap: 2.5rem;
}
.clipboard_container .snippet_section .snippet_comment .snippet_options_container {
  display: grid;
  gap: 2.5rem;
}
.clipboard_container .snippet_section .snippet_comment .snippet_options_container .snippet_options {
  display: grid;
  gap: 0.6rem;
}
.clipboard_container .access_section {
  display: grid;
  gap: 4rem;
}
.clipboard_container .access_section .access_heading {
  display: grid;
  gap: 1rem;
}
.clipboard_container .supercharge_section {
  display: grid;
  gap: 3rem;
}
.clipboard_container .supercharge_section .supercharge_heading {
  display: grid;
  gap: 1rem;
}
.clipboard_container .supercharge_section .supercharge_icon_container {
  display: grid;
  gap: 3.5rem;
}
.clipboard_container .supercharge_section .supercharge_icon_container .supercharge_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.clipboard_container .supercharge_section .supercharge_icon_container .supercharge_icon .sc_icon_container {
  width: 15%;
}
.clipboard_container .logo_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.5rem;
}
.clipboard_container .desktop_section {
  display: grid;
  gap: 3.5rem;
}
.clipboard_container .desktop_section .desktop_heading {
  display: grid;
  gap: 1.5rem;
}
.clipboard_container .clipboard_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: hsla(202, 11%, 66%, 0.048);
  padding: 2.5rem;
}
.clipboard_container .clipboard_footer .main_footer_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.clipboard_container .clipboard_footer .c_icon_subcontainer {
  width: 50%;
}
.clipboard_container .clipboard_footer .footer_aids .footer_aids_review {
  list-style: none;
}
.clipboard_container .clipboard_footer .footer_aids .footer_aids_review .aid {
  padding: 1rem;
}
.clipboard_container .clipboard_footer .footer_aids .footer_aids_review .aid .link {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
  cursor: pointer;
}
.clipboard_container .clipboard_footer .footer_aids .footer_aids_review .aid .link:hover {
  color: hsl(171, 66%, 44%);
}
.clipboard_container .clipboard_footer .footer_social_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.clipboard_container .clipboard_footer .footer_social_links .icon {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.733);
}
.clipboard_container .clipboard_footer .footer_social_links .icon:hover {
  color: hsl(171, 66%, 44%);
}

@media (min-width: 600px) {
  .clipboard_container {
    background-image: url(../assets/bg-header-desktop.png);
    background-repeat: no-repeat;
  }
  .clipboard_container .btn_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
  }
  .clipboard_container .main_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .clipboard_container .main_heading .heading_text {
    width: 50%;
  }
  .clipboard_container .snippet_section .snippet_heading_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .clipboard_container .snippet_section .snippet_heading_container .snippet_heading {
    width: 60%;
  }
  .clipboard_container .snippet_section .snippet_comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
  .clipboard_container .snippet_section .snippet_comment .snippet_img_container {
    min-width: 40rem;
  }
  .clipboard_container .snippet_section .snippet_comment .snippet_options_container {
    text-align: left;
  }
  .clipboard_container .snippet_section .snippet_comment .snippet_options_container .snippet_options {
    width: 70%;
  }
  .clipboard_container .access_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .clipboard_container .access_section .access_heading_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .clipboard_container .access_section .access_heading_container .access_heading {
    width: 75%;
  }
  .clipboard_container .access_section .access_img_container {
    max-width: 50rem;
  }
  .clipboard_container .supercharge_section {
    gap: 3rem;
    padding: 3rem;
  }
  .clipboard_container .supercharge_section .supercharge_icon_container {
    display: flex;
    gap: 3rem;
  }
  .clipboard_container .logo_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7rem;
  }
  .clipboard_container .desktop_section .desktop_heading_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .clipboard_container .desktop_section .desktop_heading_container .desktop_heading {
    width: 50%;
  }
  .clipboard_container .clipboard_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
  }
  .clipboard_container .clipboard_footer .main_footer_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10rem;
  }
  .clipboard_container .clipboard_footer .main_footer_content .c_icon_subcontainer {
    width: 5%;
  }
  .clipboard_container .clipboard_footer .main_footer_content .footer_aids {
    display: flex;
    gap: 4rem;
  }
  .clipboard_container .clipboard_footer .main_footer_content .footer_aids .footer_aids_review .aid {
    padding: 0.5rem;
  }
}
